# RotoWire dataset

## 1. Basic Stats
![stats](datastat.png)
Summaries are written by professionals. The writing is colloquial but relatively **well structured**.

## 2. EDA

In [2]:
import random
from collections import defaultdict

import pandas as pd
from IPython.core.display import display, HTML

pd.set_option('display.max_columns', 30)
display(HTML("<style>.container { width:100% !important; }</style>")) # expand cell width for visibility

In [3]:
train_path = 'data/rotowire/train.json'
valid_path = 'data/rotowire/valid.json'
test_path = 'data/rotowire/test.json'

train = pd.read_json(train_path)
valid = pd.read_json(valid_path)
test = pd.read_json(test_path)

### 2.1 raw data
- box_score: 선수들의 기록. 그런데 선수별로 정리되어있지 않음
- home_line: 홈팀 기록
- vis_line: 원정팀 기록
- summary: '정답' text

In [4]:
train.head()

,box_score,day,home_city,home_line,home_name,summary,vis_city,vis_line,vis_name
0,"{'FIRST_NAME': {'24': 'Ron', '25': 'Sasha', '2...",122516,New York,"{'TEAM-PTS_QTR2': '20', 'TEAM-FT_PCT': '89', '...",Knicks,"[The, Celtics, saw, great, team, play, in, the...",Boston,"{'TEAM-PTS_QTR2': '34', 'TEAM-FT_PCT': '75', '...",Celtics
1,"{'TO': {'24': 'N/A', '25': 'N/A', '20': '2', '...",40415,Phoenix,"{'TEAM-PTS_QTR2': '34', 'TEAM-FT_PCT': '76', '...",Suns,"[The, Phoenix, Suns, (, 39, -, 38, ), escaped,...",Utah,"{'TEAM-PTS_QTR2': '19', 'TEAM-FT_PCT': '83', '...",Jazz
2,"{'FIRST_NAME': {'24': 'Shabazz', '20': 'Al-Far...",32817,Portland,"{'TEAM-PTS_QTR2': '34', 'TEAM-FT_PCT': '73', '...",Trail Blazers,"[The, host, Portland, Trail, Blazers, defeated...",Denver,"{'TEAM-PTS_QTR2': '29', 'TEAM-FT_PCT': '80', '...",Nuggets
3,"{'TO': {'24': 'N/A', '25': 'N/A', '20': '0', '...",110314,Los Angeles,"{'TEAM-PTS_QTR2': '30', 'TEAM-FT_PCT': '88', '...",Clippers,"[The, Los, Angeles, Clippers, (, 3, -, 1, ), d...",Utah,"{'TEAM-PTS_QTR2': '23', 'TEAM-FT_PCT': '79', '...",Jazz
4,"{'TO': {'24': '1', '25': '0', '20': '0', '21':...",121916,Chicago,"{'TEAM-PTS_QTR2': '34', 'TEAM-FT_PCT': '100', ...",Bulls,"[Wire-to-wire, wins, are, uncommon, in, the, N...",Detroit,"{'TEAM-PTS_QTR2': '15', 'TEAM-FT_PCT': '85', '...",Pistons

### 2.2 column별로 보기
#### 2.2.1 boxscore 선수별로 보기

In [5]:
def get_ith_record(data, i):
    assert i is None or i <= len(data)
    if i is None:
        i = random.randint(0, len(data))
    return data.iloc[i, :]

In [6]:
def view_player_stat(data, i=None):
    """i번째 경기 기록 중 box score을 선수별로 정리하기"""
    record = get_ith_record(data, i)
    boxscore = record['box_score']
    idx_to_name = boxscore['PLAYER_NAME']
    boxscore_by_player = defaultdict(dict)
    for r_type, r_entity_value in boxscore.items():
        if 'NAME' in r_type: continue
        for entity_idx, value in r_entity_value.items():
            boxscore_by_player[idx_to_name[entity_idx]][r_type] = value
    return pd.DataFrame.from_dict(boxscore_by_player, orient='index')

In [23]:
i = 3
view_player_stat(train)

,MIN,FGM,REB,FG3A,AST,FG3M,OREB,TO,START_POSITION,PF,PTS,FGA,STL,FTA,BLK,DREB,FTM,FT_PCT,FG_PCT,FG3_PCT,TEAM_CITY
Brandon Ingram,27,1,5,3,2,0,1,1,N/A,2,4,9,1,2,0,4,2,100,11,0,Los Angeles
Danny Green,27,4,4,3,6,2,0,1,G,2,10,6,2,0,0,4,0,0,67,67,San Antonio
David Lee,18,1,3,0,0,0,1,1,N/A,1,4,1,1,2,0,2,2,100,100,0,San Antonio
Davis Bertans,7,1,1,2,0,1,0,0,N/A,2,3,2,0,0,0,1,0,0,50,50,San Antonio
Dejounte Murray,0,0,0,0,0,0,0,0,N/A,0,0,0,0,0,0,0,0,0,0,0,San Antonio
Jonathon Simmons,3,0,0,0,0,0,0,0,N/A,0,0,0,0,0,0,0,0,0,0,0,San Antonio
Jordan Clarkson,31,7,3,4,3,3,1,3,N/A,2,20,15,2,4,0,2,3,75,47,75,Los Angeles
Jose Calderon,13,2,1,2,3,1,1,0,G,2,5,5,0,0,0,0,0,0,40,50,Los Angeles
Julius Randle,30,6,9,1,7,0,1,2,F,2,13,13,0,2,0,8,1,50,46,0,Los Angeles
Kawhi Leonard,39,7,12,7,7,2,1,3,F,0,23,15,2,8,0,11,7,88,47,29,San Antonio
Kyle Anderson,13,0,1,1,0,0,0,0,N/A,0,0,2,1,0,0,1,0,0,0,0,San Antonio
LaMarcus Aldridge,36,10,6,1,2,1,0,2,F,2,23,14,2,2,3,6,2,100,71,100,San Antonio
Larry Nance Jr.,23,1,4,0,1,0,1,1,N/A,0,4,3,0,2,0,3,2,100,33,0,Los Angeles
Lou Williams,27,9,3,4,3,2,0,2,N/A,3,24,13,2,4,0,3,4,100,69,50,Los Angeles
Luol Deng,34,4,6,4,3,2,3,1,F,4,10,10,1,0,0,3,0,0,40,50,Los Angeles
Manu Ginobili,21,4,0,4,3,2,0,1,N/A,3,10,6,0,0,1,0,0,0,67,50,San Antonio
Marcelo Huertas,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,Los Angeles
Metta World Peace,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,Los Angeles
Nick Young,28,7,4,7,2,4,1,2,G,1,22,12,0,5,1,3,4,80,58,57,Los Angeles
Nicolas Laprovittola,0,0,0,0,0,0,0,0,N/A,0,0,0,0,0,0,0,0,0,0,0,San Antonio
Patty Mills,20,5,0,5,3,1,0,2,N/A,3,11,9,0,0,0,0,0,0,56,20,San Antonio
Pau Gasol,28,6,5,0,2,0,0,2,C,3,16,13,0,4,2,5,4,100,46,0,San Antonio
Tarik Black,12,2,6,0,0,0,3,0,N/A,4,5,4,0,2,0,3,1,50,50,0,Los Angeles
Thomas Robinson,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,Los Angeles
Timofey Mozgov,14,0,4,0,0,0,3,1,C,1,0,3,0,0,0,1,0,0,0,0,Los Angeles
Tony Parker,27,6,2,1,7,1,1,0,G,2,16,10,0,3,0,1,3,100,60,100,San Antonio

#### 2.2.2 team stat 보기

In [51]:
def view_team_stat(data, i, team):
    """i번째 기록에서 home 혹은 away 팀에 대한 기록 보기"""
    assert team in {'home', 'away'}
    def rename(team):
        rename_dict = {'home': 'home_line', 'away': 'vis_line'}
        return rename_dict[team]
    record = get_ith_record(data, i)
    team_stat = record[rename(team)]
    return pd.DataFrame(team_stat, index=[0])

In [52]:
view_team_stat(train, i, 'home')

  TEAM-PTS_QTR2 TEAM-FT_PCT TEAM-PTS_QTR1 TEAM-PTS_QTR4 TEAM-PTS_QTR3    TEAM-CITY TEAM-PTS TEAM-AST TEAM-LOSSES TEAM-NAME TEAM-WINS TEAM-REB TEAM-TOV TEAM-FG3_PCT TEAM-FG_PCT
0            30          88            26            34            17  Los Angeles      107       28           1  Clippers         3       35       10           44          51

In [53]:
view_team_stat(train, i, 'away')

  TEAM-PTS_QTR2 TEAM-FT_PCT TEAM-PTS_QTR1 TEAM-PTS_QTR4 TEAM-PTS_QTR3 TEAM-CITY TEAM-PTS TEAM-AST TEAM-LOSSES TEAM-NAME TEAM-WINS TEAM-REB TEAM-TOV TEAM-FG3_PCT TEAM-FG_PCT
0            23          79            20            31            27      Utah      101       24           3      Jazz         1       43       17           37          47

#### 2.2.3 summary 보기

In [54]:
def view_summary(data, i=None):
    """i번째 기록에 대한 summary text보기"""
    record = get_ith_record(data, i)
    return ' '.join(record['summary'])

In [55]:
view_summary(train, i)

"The Los Angeles Clippers ( 3 - 1 ) defeated the Utah Jazz ( 1 - 3 ) 107 - 101 on Monday . Chris Paul recorded the NBA 's first triple - double of the 2014 - 15 season , putting up 13 points , 10 rebounds , and 12 assists in 36 minutes . He also threw in two steals and a blocked shot for good measure . Teammate Blake Griffin helped Paul convert some of those assists , shooting 14 - of - 21 from the field and finishing with 31 points in 38 minutes . J.J. Redick started at shooting guard but played a season - low 16 minutes as coach Doc Rivers opted to go with Jamal Crawford most of the night . Crawford missed the Clippers ' last game with a rib injury but returned to put up 19 points off the bench in 34 minutes . Gordon Hayward put up a LeBron James-esque line of 27 points , seven rebounds , and five assists in 36 minutes . He was aided in keeping the game close by starting power forward Enes Kanter who put up 17 points and nine rebounds in 27 minutes . The Jazz were relatively efficient with their shooting , but they committed 17 turnovers in contrast to the Clippers ' 10 , giving away the game in some respects . The Clippers ' next game is against the Golden State Warriors on Wednesday , while the Jazz will return home to face the Cleveland Cavaliers on Wednesday ."

### 2.3 한 번에 보기

In [70]:
data = train
i = 189

In [71]:
display(view_team_stat(train, i, 'home'))
display(view_team_stat(train, i, 'away'))
display(view_summary(train, i))
display(view_player_stat(train, i))

  TEAM-PTS_QTR2 TEAM-FT_PCT TEAM-PTS_QTR1 TEAM-PTS_QTR4 TEAM-PTS_QTR3  TEAM-CITY TEAM-PTS TEAM-AST TEAM-LOSSES     TEAM-NAME TEAM-WINS TEAM-REB TEAM-TOV TEAM-FG3_PCT TEAM-FG_PCT
0            28          78            34            15            26  Minnesota      103       21          37  Timberwolves        27       46       11           29          44

  TEAM-PTS_QTR2 TEAM-FT_PCT TEAM-PTS_QTR1 TEAM-PTS_QTR4 TEAM-PTS_QTR3     TEAM-CITY TEAM-PTS TEAM-AST TEAM-LOSSES TEAM-NAME TEAM-WINS TEAM-REB TEAM-TOV TEAM-FG3_PCT TEAM-FG_PCT
0            29          77            24            26            23  Golden State      102       25          13  Warriors        52       43       12           29          47

"The Minnesota Timberwolves defeated the visiting Golden State Warriors 103 - 102 , at Target Center , on Friday evening . It was a dramatic contest , as the Timberwolves jumped out to a 10 - point lead , with a 34 - 24 first quarter . The Warriors responded in the second , where they out - scored the T-Wolves by one . The Timberwolves came back strong in the third , ensuring themselves a 12 - point lead heading into the final quarter . Minnesota then extended their lead to 14 , however the Warriors went on a 130 run to bring the game within one point with 7:28 to go . It was then back and forth , with the T-Wolves staying on top , until the Warriors tied it up with 2:37 left . Minnesota battled ahead once again but almost let it slip away as they were up by one , when Andrew Wiggins missed two free throws , allowing the Warriors the opportunity to go up by one on the next possession . Wiggins made up for his error though , as he sank two free throws with 12 seconds left to seal the one - point win . Andrew Wiggins was the high - point man for the Timberwolves ( 27 - 37 ) , as he finished with 24 points on 9 - of - 21 shooting , in 37 minutes . Karl-Anthony Towns followed up with 23 points on more efficient 10 - of - 18 shooting , in 38 minutes . This marked Towns ' 19th straight game with 20 or more points . Four other players scored in double digits for Minnesota , including Ricky Rubio , who chipped in 17 points and dished 13 assists , in 36 minutes . The T-Wolves go on to face the second night of a back - to - back as they visit Milwaukee on Saturday . Klay Thompson led the way for the Warriors ( 52 - 13 ) with a game - high 30 points on 12 - of - 22 shooting , while Stephen Curry followed up with 26 points , but struggled from deep , where he went 1 - of - 8 , in 35 minutes . The only other player to score in double digits for Golden State was Ian Clark , who added 10 points off the bench . The Warriors have now lost two straight , and face a tough match up in their next contest , when they visit San Antonio on Saturday ."

                      MIN  FGM  REB FG3A  AST FG3M OREB   TO START_POSITION   PF  PTS  FGA  STL  FTA  BLK DREB  FTM FT_PCT FG_PCT FG3_PCT     TEAM_CITY
Adreian Payne         N/A  N/A  N/A  N/A  N/A  N/A  N/A  N/A            N/A  N/A  N/A  N/A  N/A  N/A  N/A  N/A  N/A    N/A    N/A     N/A     Minnesota
Andre Iguodala         32    4    2    1    1    0    2    0            N/A    0    8    6    1    0    0    0    0      0     67       0  Golden State
Andrew Wiggins         37    9    4    1    0    1    2    4              F    3   24   21    2    7    0    2    5     71     43     100     Minnesota
Brandon Rush           20    1    3    1    3    0    2    0              G    1    2    3    1    0    0    1    0      0     33       0     Minnesota
Cole Aldrich          N/A  N/A  N/A  N/A  N/A  N/A  N/A  N/A            N/A  N/A  N/A  N/A  N/A  N/A  N/A  N/A  N/A    N/A    N/A     N/A     Minnesota
David West             13    0    4    1    1    0    0    0            N/A    1    0    3    0    0    0    4    0      0      0       0  Golden State
Draymond Green         38    1    7    3    7    0    3    0              F    4    5    8    2    4    1    4    3     75     13       0  Golden State
Gorgui Dieng           24    5    4    0    0    0    0    0              F    2   12   10    1    2    1    4    2    100     50       0     Minnesota
Ian Clark              13    4    4    3    2    2    1    0            N/A    0   10    7    1    0    0    3    0      0     57      67  Golden State
JaVale McGee            9    1    3    0    0    0    1    1            N/A    2    3    2    0    2    3    2    1     50     50       0  Golden State
James Michael McAdoo  N/A  N/A  N/A  N/A  N/A  N/A  N/A  N/A            N/A  N/A  N/A  N/A  N/A  N/A  N/A  N/A  N/A    N/A    N/A     N/A  Golden State
Jordan Hill           N/A  N/A  N/A  N/A  N/A  N/A  N/A  N/A            N/A  N/A  N/A  N/A  N/A  N/A  N/A  N/A  N/A    N/A    N/A     N/A     Minnesota
Karl-Anthony Towns     38   10    9    4    2    2    2    3              C    4   23   18    0    3    2    7    1     33     56      50     Minnesota
Kevon Looney            2    0    1    0    0    0    0    1            N/A    0    0    0    0    0    0    1    0      0      0       0  Golden State
Klay Thompson          36   12    5    6    2    3    0    2              G    1   30   22    1    4    0    5    3     75     55      50  Golden State
Kris Dunn              12    1    2    0    0    0    0    1            N/A    1    2    4    1    0    0    2    0      0     25       0     Minnesota
Lance Stephenson      N/A  N/A  N/A  N/A  N/A  N/A  N/A  N/A            N/A  N/A  N/A  N/A  N/A  N/A  N/A  N/A  N/A    N/A    N/A     N/A     Minnesota
Matt Barnes            10    2    2    1    1    1    0    0            N/A    3    5    2    0    0    0    2    0      0    100     100  Golden State
Nemanja Bjelica        34    4   12    4    2    1    5    0            N/A    3   10   10    0    2    0    7    1     50     40      25     Minnesota
Patrick McCaw          25    3    4    1    1    0    1    1              F    0    6    7    0    0    0    3    0      0     43       0  Golden State
Ricky Rubio            36    3    4    1   13    0    1    2              G    3   17   10    1   11    0    3   11    100     30       0     Minnesota
Shabazz Muhammad       28    5    7    2    0    0    2    1            N/A    1   11    9    0    2    0    5    1     50     56       0     Minnesota
Shaun Livingston      N/A  N/A  N/A  N/A  N/A  N/A  N/A  N/A            N/A  N/A  N/A  N/A  N/A  N/A  N/A  N/A  N/A    N/A    N/A     N/A  Golden State
Stephen Curry          35   10    6    8    7    1    3    6              G    4   26   27    1    5    0    3    5    100     37      13  Golden State
Tyus Jones             11    1    1    1    1    0    0    0            N/A    0    2    3    0    0    0    1    0      0     33       0     Minnesota
Zaza Pachulia          26    4    5    0    3    0    1    1              C    6    9    4    3    2    1    4    1     50    100       0  Golden State